body {
    background-color: rgb(128, 128, 128)
}

 #number-buttons-container {
     width: 280px;
     height: 280px;
     position: relative;
 }

.number-button {
    position: absolute;

    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;

    background-color: rgb(200, 200, 200);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.number-button:hover {
    background-color: rgb(255, 255, 255);
}

.number-button:active {
    background-color: rgb(55, 55, 55);
    border: 1px solid rgb(200, 200, 200);
}
