/* Base */

html {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 112.5%;
}
body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Lato", sans-serif;

  padding: 1rem;
  max-width: 400px;
  margin: 0 auto
}
h1 {
  font-size: 3.375rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  max-width: 829px;
}
small {
  font-size: 0.667rem;
  max-width: 335px;
}
section {
  margin: 3rem 0;
}
button {
  background-color: transparent;
  border: 1px solid #3498db;
  color: #3498db;
  font-size: 1rem;
  padding: .5rem 1rem;
  cursor: pointer;
}
input, select {
  background-color: white;
  border: 1px solid gray;
  font-size: 1rem;
  padding: .5rem;
}
input {
  width: 3rem;
  margin-right: .5rem;
}
a {
  color: #3498db;
}


/* layout */
.row {
  min-height: 2rem;
}
.row + .row {
    margin-top: .5rem;
}
.col {
  display: inline-block;
  width: 50%;
}

.col-label {
  color: gray;
}

.col-value {
}

/* Number Task*/
.pasat-download button {
  width: 100%;
}

.pasat-download button + button {
  margin-top: .5rem;
}

.pasat-scorecard .col-value {
  text-align: right;
  font-family: "Lato", sans-serif;
}

.number-buttons-container {
   width: 280px;
   height: 280px;
   position: relative;
}

.number-button {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  background-color: #3498db;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  width: 2rem;
}
.number-button:hover {
  background-color: #44a3e3;
  # Lighter
}
.number-button:active {
  background-color: #2378b1;
  # Darker
}
